<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  {{outlet}}
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/mattsroufe">Matt Sroufe</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
